<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usydcapstone.allocation.mapper.GroupMapper">
    <resultMap id="groupListMap" type="com.usydcapstone.allocation.entity.vo.GroupVo">
        <id property="id" column="id"></id>
        <result property="groupNumber" column="group_number"></result>
        <result property="preferField" column="prefer_field"></result>
        <collection property="studentList" ofType="com.usydcapstone.allocation.entity.Student" columnPrefix="student_">
            <id property="id" column="id"></id>
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <select id="getGroupList" parameterType="object" resultMap="groupListMap">
        SELECT
            grps.id,
            group_number,
            student.id AS student_id,
            student.name AS student_name
        FROM grps LEFT JOIN student ON grps.id=student.group_id;
    </select>

    <resultMap id="groupListMapPage" type="com.usydcapstone.allocation.entity.vo.GroupVo">
        <id property="id" column="id"></id>
        <result property="groupNumber" column="group_number"></result>
        <result property="preferField" column="prefer_field"></result>
        <result property="pre1" column="pre1"></result>
        <result property="pre2" column="pre2"></result>
        <result property="pre3" column="pre3"></result>
        <collection property="studentList" column="id" select="selectStudentList">
        </collection>
    </resultMap>

    <select id="getPageGroupList" parameterType="object" resultMap="groupListMapPage">
        SELECT
            id,
            group_number,
            prefer_field,
            pre1,
            pre2,
            pre3
        FROM grps
        <if test="keyword != null and keyword != ''">
            WHERE grps.id LIKE #{keyword}
        </if>
    </select>

    <select id="selectStudentList" resultType="com.usydcapstone.allocation.entity.Student">
        SELECT
                student.id,
                student.name
        FROM student
        WHERE student.group_id = #{id}
    </select>
</mapper>

